<footer>
    <p class="follow">
      Perfection only exists in the mind. It’s not real. Imagine, create, improve.


        <a href=""> </a>
    </p>

    <p class="design">Designed and developed by sahar ghoniem </p>
</footer>