<header class="myheader">
  <h1>
    <a style="all: unset" href="/">Full Stack</a>
  </h1>

  <nav>
    <ul class="parent">
      <li>
        <a href="https://scintillating-peony-157b88.netlify.app/">
            Our Market
        </a>
      </li>
      <li><a href="/add-new-article"> Add article </a></li>
      <li id="dark" class="mode">change mode</li>
      <li><a href="https://email-5681a.firebaseapp.com/"> Contact Us </a></li>
    </ul>
  </nav>
</header>
